<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Chris Di Lauro</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <main>

  <div class="border">

    {{content}}

  </div>

  {% include nav.html %}

</main>

<script src="https://use.typekit.net/vzx0wbo.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
