<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>

<main itemscope itemtype="https://schema.org/CreativeWork">

    <div class="border">

      {{content}}

</main>

<script src="https://use.typekit.net/vzx0wbo.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
